doctype html
html
  head
    title Data Express
    link(href="https://fonts.googleapis.com/css?family=Dosis|Lobster" rel="stylesheet")
    link(href="style.css" rel="stylesheet")
  body
    div(id="content")
      block content