extend layout

block content
  h3 Log In
  form(id="form", method="post", action="/login")
    label Username
    br
    input(type='text', name='Username')
    br
    label Password
    br
    input(type='password', name='Password')
    br
    input(type='submit', value='Log In')