/* font-family: 'Dosis', sans-serif;
font-family: 'Lobster', cursive; */

h3 {
    font-family: 'Lobster', cursive;
    font-size: 2em;

}

p {
    font-family: 'Dosis', sans-serif;
}

body {
    background-color: #675682;
}

#content {
    background-color: #AECAD7;
    padding: 20px;
    border: solid 2px;
    border-color: #67AECA;
    border-radius: 15px;
    margin: 25px;
}